models/segformer_mitb2_isaid/model.safetensors filter=lfs diff=lfs merge=lfs -text
models/segformer_mitb2_oem/model.safetensors filter=lfs diff=lfs merge=lfs -text
models/yolo_obb/yolov5m_obb_csl_dotav20.onnx filter=lfs diff=lfs merge=lfs -text
